---
---

@import "{{ site.theme }}";
section#main_content {
    table {
        border-collapse: collapse;
        th, td {
            font-family: 'Times New Roman', Times, serif;
            font-size: 120%;
            border-width: 1px;
            border-style: solid;
        }
    }
    ul {
        font-family: 'Times New Roman', Times, serif;
        font-size: 120%;
    }
}
