---
---

@import "{{ site.theme }}";
section#main_content {
    table {
        border-width: 2px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 120%;
        border-color: aqua;
    }
    ul {
        font-family: 'Times New Roman', Times, serif;
        font-size: 120%;
    }
}
