---
---

@import "{{ site.theme }}";
section#main_content {
    table {
        th, td{
            // border-width: 2px;
            font-family: 'Times New Roman', Times, serif;
            font-size: 120%;
            // border-color: aqua;
            border: 2px solid rgb(59, 73, 59);
            border-collapse: collapse;
        }
    }
    ul {
        font-family: 'Times New Roman', Times, serif;
        font-size: 120%;
    }
}
